.create-playlist-btn {
    padding: 10px;
    background-color: transparent;
    border: 0;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-playlist-btn:hover {
    cursor: pointer;
    font-weight: bolder;
}

