.create-playlist-btn {
    padding: 10px;
    background-color: transparent;
    border: 0;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-playlist-btn:hover {
    cursor: pointer;
    font-weight: bolder;
}

.create-playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    background-color: #A49DA1;
}

.nap-item {
    display: flex;
    flex-direction: column;
}
