.homepage {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.homepage-container {
    padding: 5em;
}


.create-album-btn {
    padding: 10px;
    background-color: transparent;
    border: 0;
    color: #FFE9E1;
    font-size: large;
}

.create-album-btn:hover {
    cursor: pointer;
}

.homepage-text {
    color: #FFE9E1;
    font-size: xx-large;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFE9E1;
    font-size: xx-large;
}

.welcome-title {
    margin: 1em;
}
