.homepage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    background-color: #F6EEDF;
}

.homepage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-container {
    padding: 5em;
}


.create-album-btn {
    padding: 10px;
    background-color: transparent;
    border: 0;
    font-size: large;
}

.create-album-btn:hover {
    cursor: pointer;
}

.homepage-title {
    display: flex;
    font-size: 3em;
    justify-content: center;
    flex-wrap: wrap;
}

.homepage-text {
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

.welcome-title {
    margin: 1em;
}

.user-propic-wrapper {
    display: flex;
    flex-direction: column;

}

.user-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile-infobox-actions {
    padding: 20px;
}

.user-tiles-wrapper {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.user-songs-tiles-wrapper {
    height: 200px;
    padding-bottom: 150px;
}

.user-tile-titles {
    font-size: 100px;
}
