a {
    text-decoration: none;
    color: #FFE9E1;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    background-color: #333;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}
