a, li, ul {
    text-decoration: none;
}

* {
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

body {
   font-family: Interstate,Lucida Grande,Arial,sans-serif;
   margin: 0;
   padding: 0;
   height: 100vh;
   color: #242424;
}

html {
    background: #FDF5DF;
    background-size: cover;
    position: relative;
}
