.update-song-form {
    display: flex;
    flex-direction: column;
    padding: 5em;
    background-color: #A49DA1;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    font-size: large;
}

.update-song-btn {
    padding: 5px;
    margin-top: 10px;
    font-size: large;
}
