.create-album-form {
    display: flex;
    flex-direction: column;
    padding: 5em;
    background-color: #A49DA1;
}

.create-album-btn {
    display: flex;
    padding: 5px;
    margin-top: 10px;
    font-size: x-large;
    justify-content: center;
}

.create-album-btn:hover {
    cursor: pointer;
    font-weight: bolder;
}
