.create-album-form {
    display: flex;
    flex-direction: column;
    padding: 5em;
    background-color: #A49DA1;
}

.create-album-btn {
    padding: 10px;
    background-color: transparent;
    border: 0;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-album-btn:hover {
    cursor: pointer;
    font-weight: bolder;
}
