.login-form {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 15rem;
    padding: 10px;
}

.login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-list {
    color: red;
}
