
.navbar-div {
    background-color: #333;
    padding: 3em;
}

.link {
    display: inline-flex;
    align-items: space-between;
    color: #FFE9E1;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-btn,
.demo-user-btn {
    color: #FFE9E1;
    background-color: #333;
    border: 0;
    font-size: medium;
}

.login-btn:hover {
    cursor: pointer;
}

.demo-user-btn:hover {
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    right: 5px;
    background-color: #333;
    z-index: 2;
}

.profile-btn-div {
    position: relative;
}

.profile-email{
    color: #FFE9E1;
}

.profile-username {
    color: #FFE9E1;
}
